<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>Edit Fruit</title>
    </head>
    <body>
        <h1>Edit <%= fruit.name %></h1>
        <form action="/fruits/<%= fruit._id %>?_method=PUT" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= fruit.name %>" />
            <label for="isReadyToEat">Ready to Eat?</label>
            <input type="checkbox" id="isReadyToEat" name="isReadyToEat" <%= fruit.isReadyToEat ? 'checked' : '' %> />
            <button class="fruits-index-link" type="submit">Update Fruit</button>
        </form>
        <a class="fruits-index-link" href="/fruits">Back to Fruits</a>
    </body>
</html>