<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/stylesheets/style.css" />
        <title>Fruits Index</title>
    </head>
    <body>
        <div class="index-header-div">
            <h1>All Fruits</h1>
            <nav>
              <a class="add-fruit" href="/">Home</a>
              <a class="add-fruit" href="/fruits/new">Add fruit</a>
              <% if (showReadyToEat) { %>
                <a class="add-fruit" href="/fruits">Show All</a>
                <a class="add-fruit" href="/fruits?notReady=true">Not Ripe</a>
              <% } else if (showNotReadyToEat) { %>
                <a class="add-fruit" href="/fruits">Show All</a>
                <a class="add-fruit" href="/fruits?ready=true">Ripe</a>
              <% } else { %>
                <a class="add-fruit" href="/fruits?ready=true">Ripe</a>
                <a class="add-fruit" href="/fruits?notReady=true">Not Ripe</a>
              <% } %>
            </nav>
          </div>
        <ul>
            <% fruits.forEach((fruit)=> { %>
            <li>
                <a
                    class="fruit-cards"
                    href="/fruits/<%=fruit._id%>">
                    <%= fruit.name %>
                </a>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
